fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.43
psycopg[binary]==3.2.9
pydantic-settings==2.10.1
cryptography==46.0.5
python_dotenv==1.2.2
python-multipart==0.0.22
cronsim==2.7
